In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import tqdm

In [18]:
from google.colab import drive 
drive.mount('/content/gdrive')
catalogue = pd.read_json('/content/gdrive/My Drive/Rekko data/REKKO/data/catalogue.json').T
# data2 = pd.read_csv('/content/gdrive/My Drive/Retail_Data_Transactions.csv')
# data = data1.set_index('customer_id').join(data2.set_index('customer_id'), lsuffix='_trgt').reset_index()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [71]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
catalogue['element_uid'] = catalogue.index

In [20]:
catalogue.head()

       type  ... element_uid
1983  movie  ...        1983
3783  movie  ...        3783
5208  movie  ...        5208
9744  movie  ...        9744
1912  movie  ...        1912

[5 rows x 10 columns]

In [21]:
transactions = pd.read_csv('/content/gdrive/My Drive/Rekko data/REKKO/data/transactions.csv',
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'consumption_mode': 'category',
        'ts': np.float64,
        'watched_time': np.uint64,
        'device_type': np.uint8,
        'device_manufacturer': np.uint8
    }
)

In [22]:
transactions.head()

   element_uid  user_uid  ... device_type  device_manufacturer
0         3336      5177  ...           0                   50
1          481    593316  ...           0                   11
2         4128    262355  ...           0                   50
3         6272     74296  ...           0                   99
4         5543    340623  ...           0                   50

[5 rows x 7 columns]

In [23]:
ratings = pd.read_csv('/content/gdrive/My Drive/Rekko data/REKKO/data/ratings.csv')

In [24]:
ratings.head()

   user_uid  element_uid  rating            ts
0    571252         1364      10  4.430517e+07
1     63140         3037      10  4.430514e+07
2    443817         4363       8  4.430514e+07
3    359870         1364      10  4.430506e+07
4    359870         3578       9  4.430506e+07

In [25]:
transactions = transactions.merge(catalogue, how='left', on='element_uid')
transactions.loc[:, 'duration'] += 10
transactions['duration']  = transactions['duration']*60
transactions_small = transactions.loc[transactions.user_uid < transactions.user_uid.quantile(.01)]
transactions_test = transactions_small.loc[transactions_small.ts > transactions_small.ts.quantile(.75)].reset_index()
transactions_train = transactions_small.loc[transactions_small.ts < transactions_small.ts.quantile(.75)].reset_index()
test_user_ids = set(transactions_test[['element_uid', 'user_uid']].itertuples(index=False))
train_user_ids = set(transactions_train[['element_uid', 'user_uid']].itertuples(index=False))
drop_index = []
for row in tqdm.tqdm(ratings.itertuples()):
    if (row.element_uid, row.user_uid) in test_user_ids or not (row.element_uid, row.user_uid) in train_user_ids:
        drop_index.append(row.Index)
ratings.drop(drop_index, inplace=True)
ratings.reset_index(inplace=True)
transactions_train['target'] = transactions_train.watched_time/transactions_train.duration
transactions_test['target'] = transactions_test.watched_time/transactions_test.duration
transactions_train.loc[transactions_train['target'] > 1, 'target'] = 1
transactions_test.loc[transactions_test['target'] > 1, 'target'] = 1

438790it [00:00, 525511.39it/s]

In [102]:
transactions.target.dtype

dtype('O')

In [109]:
transactions['target'] = transactions.watched_time/transactions.duration * 100
transactions1 = transactions.sample(20)[['element_uid', 'user_uid', 'target']].groupby(['element_uid', 'user_uid']).apply(lambda x: np.mean(x))

In [110]:
transactions1

                      element_uid  user_uid      target
element_uid user_uid
584         326437          584.0  326437.0    2.796296
702         359438          702.0  359438.0   18.483333
888         470154          888.0  470154.0   22.069444
1535        204443         1535.0  204443.0  207.595238
2070        4744           2070.0    4744.0   55.916667
2257        376701         2257.0  376701.0   14.194444
2446        498941         2446.0  498941.0   91.511111
4141        236834         4141.0  236834.0   90.033333
5062        329518         5062.0  329518.0    0.000000
5620        245788         5620.0  245788.0   90.424242
5876        494188         5876.0  494188.0   17.722222
5979        205446         5979.0  205446.0   38.683333
6088        251258         6088.0  251258.0   89.666667
6157        331957         6157.0  331957.0    0.000000
6272        19948          6272.0   19948.0    0.242424
6347        339401         6347.0  339401.0   26.416667
6523        443142         6523.0  443142.0   94.291667
9280        507590         9280.0  507590.0    3.575758
9444        130329         9444.0  130329.0  103.858974
9591        247599         9591.0  247599.0   45.233333

In [26]:
transactions_test.head()

   index  ...     target
0      0  ...   0.713667
1    129  ...  0.0505556
2    355  ...          1
3    463  ...   0.453833
4    485  ...   0.837879

[5 rows x 18 columns]

In [35]:
matrix=[]
for user in transactions_train.user_uid.unique():
    matrix.append([transactions_train[transactions_train.user_uid == user].target])

In [37]:
m = np.array(matrix)

In [38]:
m

array([[0          0.557333
3364       0.883636
3442       0.830667
3506       0.845152
7648       0.831061
9268              1
15325        0.3975
15442      0.934848
15488      0.891061
15864       0.90697
15940     0.0898611
15976      0.994545
19535             1
20814    0.00833333
20826      0.339167
20858     0.0148718
21221      0.756167
21279       0.80197
29145             1
72137        0.9785
Name: target, dtype: object],
       [1        0.857083
2       0.0116667
1063      0.64463
1526            0
Name: target, dtype: object],
       [3         0.90131
1016       0.5155
1494     0.909722
1980     0.831364
2688     0.914405
           ...
69813    0.906515
69982    0.108182
70420       0.377
71402    0.903929
72050           1
Name: target, Length: 170, dtype: object],
       ...,
       [71942    0.876667
72136    0.980641
Name: target, dtype: object],
       [72017    0.923333
72030         0.5
72115    0.541019
Name: target, dtype: object],
       [72096    1
Name: target, dtype: object]], dtype=object)

In [124]:
class Rec:
    def __init__(self, m1):
        self.m = m1
    def pred_u(self, u, v):
        return ((self.m[self.m.user_uid == u].target - self.m[self.m.user_uid == u].target.mean()) * (self.m[self.m.user_uid == v].target - self.m[self.m.user_uid == v].target.mean())).sum() / \
        (np.sqrt(((self.m[self.m.user_uid == u].target - self.m[self.m.user_uid == u].target.mean()) ** 2).sum()) * np.sqrt(((self.m[self.m.user_uid == v].target - self.m[self.m.user_uid == v].target.mean()) ** 2).sum()))
    def pred_i(self, u, v):
        return ((self.m[self.m.element_uid == u].target - self.m[self.m.element_uid == u].target.mean()) * (self.m[self.m.element_uid == v].target - self.m[self.m.element_uid == v].target.mean())).sum() / \
        (np.sqrt(((self.m[self.m.element_uid == u].target - self.m[self.m.element_uid == u].target.mean()) ** 2).sum()) * np.sqrt(((self.m[self.m.element_uid == v].target - self.m[self.m.element_uid == v].target.mean()) ** 2).sum()))

In [136]:
class_rec = Rec(transactions1)
selected_user = 326437
u_pred_arr = []
for user in list(transactions1[transactions1.user_uid != selected_user].user_uid):
    cur = class_rec.pred_u(user, selected_user)
    u_pred_arr.append((user, cur,))
u_pred_arr = sorted(u_pred_arr, key=lambda x: x[1])
u_pred_arr1 = pd.DataFrame(u_pred_arr, columns=['user_uid', 'p_score'])
for _, score in u_pred_arr:
    print('with min alpha score = ', score, 'we can recommend', transactions1[transactions1.user_uid.isin(u_pred_arr1[u_pred_arr1.p_score >= score].user_uid)].element_uid.nunique())

with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0
with min alpha score =  nan we can recommend 0

In [135]:
transactions1.head()

                      element_uid  user_uid      target
element_uid user_uid
584         326437          584.0  326437.0    2.796296
702         359438          702.0  359438.0   18.483333
888         470154          888.0  470154.0   22.069444
1535        204443         1535.0  204443.0  207.595238
2070        4744           2070.0    4744.0   55.916667

In [118]:
# for i in list(transactions1.user_uid.unique()):
#     for j in list(transactions1.user_uid.unique()):
#         if ff.pred_p(i, j) > 0.0:
#             print(i, j)

In [119]:
# transactions.groupby(['element_uid']).count()